.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav div {
    background-color: lightgreen;
}

.logo {
    width: 100px;
    padding: 20px;
}

.navbar {
    --bs-navbar-padding-y: 0px !important;
}

.nav-link {
    font-size: 24px !important;
    font-weight: bold !important;
    margin-right: 20px !important;
}

.pictures {
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.main-left {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    border-radius: 10px;
    height: 35px;
    width: 90px;
}

.carousel,
.carousel-inner {
    height: 100%;
    width: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.gallery {
    width: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.gallery-pic {
    background-color: gray;
    display: flex;
    justify-content: center;
    position: relative;
}

.gallery-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-button {
    position: absolute;
    bottom: 10px;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity .35s ease;
}

.gallery-pic:hover .gallery-button {
    opacity: 1;
}

.store-features {
    display: flex;
    flex-direction: row;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature img {
    padding: 20px;
    width: 200px;
    object-fit: scale-down;
}

.feature-text {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.section-divider {
    display: flex;
    flex-direction: row;
    width: 78.5%;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    position: relative;
}

.divider-line {
    background-color: lightgreen;
    height: 5px;
    max-width: 50%;
    width: 50%;
    position: absolute;
}

.divider-line-left {
    left: 0;
    width: 100%;
}

.divider-line-right {
    right: 0;
}

.divider-text {
    position: relative;
    z-index: 2;
    max-width: 40%;
    font-size: 24px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    background-color: white;
    padding: 0px 20px 0px 20px;
}

.recent-products-container {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.recent-product {
    width: 20%;
}

.recent-product-price {
    font-weight: bold;
}

.recent-product img {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    object-fit: cover;
}

.recent-product div {
    margin-left: 7%;
}

.bottom-gallery-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 3% 10% 0% 10%;
    gap: 10px;
    padding: 50px;
}

.social-media-info {
    background-color: lightgreen;
    grid-row: 1/3;
}

.bottom-gallery-image img {
    width: 100%;
    object-fit: scale-down;
}

.footer {
    margin-top: 150px;
    width: 100%;
    background-color: rgb(108, 180, 108);
}

.footer .payment-methods {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer .payment-methods img {
    height: 100px;
    padding: 15px;
    width: 100px;
}

.info-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-text div {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
}

.copyright {
    text-align: center;
    font-size: 12px;
}

@media (max-width: 992px) {

    .main-left,
    .gallery,
    .feature,
    .recent-product {
        width: 100%;
    }

    .pictures,
    .store-features,
    .recent-products-container {
        flex-direction: column;
    }

    .bottom-gallery-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        padding: 0px;
    }

    .social-media-info {
        grid-column: 1/3;
    }
}