nav div {
    background-color: lightgreen;
}

.logo {
    width: 100px;
    padding: 20px;
}

.navbar {
    --bs-navbar-padding-y: 0px !important;
}

.nav-link {
    font-size: 24px !important;
    font-weight: bold !important;
    margin-right: 20px !important;
}

.pictures {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.main-left {
    width: 40%;
}

.carousel-item {
    height: 50vh;
    max-height: 50vh;
}

.carousel-item img {

    object-fit: fill;
}

.gallery {
    width: 60%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
}

.gallery-pic {
    background-color: gray;
}

.gallery-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.store-features {
    display: flex;
    flex-direction: row;
    height: 55vh;
}

.store-features div {
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    align-items: center;
    width: 33.33%;
}

.feature img {
    padding: 20px;
    width: 60%;
    object-fit: scale-down;
}

.feature p {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.section-divider {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.divider-line {
    background-color: lightgreen;
    height: 5px;
    max-width: 20%;
    width: 50%;
}

.divider-text {
    max-width: 40%;
    font-size: 24px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
}

.recent-products-container {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.recent-product {
    width: 20%;
}

.recent-product-price {
    font-weight: bold;
}

.recent-product img {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    object-fit: cover;
}

.recent-product div {
    margin-left: 7%;
}

.bottom-gallery-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 3% 10% 0% 10%;
    gap: 10px;
    padding: 50px;
}

.social-media-info {
    background-color: lightgreen;
    grid-row: 1/3;
}

.bottom-gallery-image img {
    width: 100%;
    object-fit: scale-down;
}

.footer {
    margin-top: 200px;
    height: 20vh;
    width: 100%;
    background-color: rgb(108, 180, 108);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.footer .payment-methods {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer .payment-methods img {
    height: 100px;
    padding: 15px;
}

.info-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-text div {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.copyright {
    text-align: center;
}