* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Assistant";
}

header {
    width: 100%;
    height: 150px;
    background-color: lightgray;
    margin: 0px;
    border-bottom: 2px solid black;
    box-sizing: content-box !important; /* Elimina línea de 1px bajo el header */
}

header img {
    max-width: 150px;
    float: left
}

header nav {
    font-family: "Inconsolata";
}

.menuHeader ul {
    list-style: none;
}

.menuHeader li {
    float: left;
    margin-top: 90px;
}

.menuHeader li a {
    text-decoration: none;
    padding: 20px;
    display: block;
    color: #1877f2;
    font-weight: bold;
    font-size: 20px;
}

.menuHeader li a:hover {
    color: #5796e7;
}

main {
    clear: both;
    width: 80%;
    background-color: #b0c5e0;
    float: left;
    height: 100vh;
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 10px;
}

main::-webkit-scrollbar-track {
    background-color: #cddef5;
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
    background-color: #1877f2;
    border-radius: 10px;
    border: 2px solid #5a5a5a;
}

section {
    padding: 20px;
}

section .card-product {
    max-width: 32%;
    border: 2px solid #1877f2;
    border-radius: 20px;
    background-color: white;
    padding-top: 10px;
    float: left;
    margin: 5px;
}

section .card-product img {
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid darkblue;
}

section .card-product .description {
    text-align: center;
    line-height: 200%;
    letter-spacing: 2px;
    font-family: "Assistant";
    font-weight: bold;
}

.precio {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: red;
    letter-spacing: 1px;
    padding-bottom: 5px;
    padding-right: 5px;
}

section .card-product-footer {
    width: 100%;
    background-color: #1877f2;
    height: 30px;
    border-radius: 0px 0px 20px 20px;
}

section .card-product-footer button {
    width: 50%;
    float: left;
    height: 30px;
    border-radius: 0px 0px 18px 18px;
    color: #1877f2;
    font-weight: bold;
    cursor: pointer;
}

aside {
    width: 20%;
    background-color: #a1c0c0;
    float: left;
    height: 100vh;
}

aside section nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

aside section nav li {
    margin-bottom: 10px;
    border-bottom: 1px solid #1877f2;
}

aside section nav a {
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 10px;

}

aside section nav li:hover {
    border-bottom: 1px solid #f21818;
    color: #f21818;
}

aside .form {
    width: 100%;
    border: 3px solid #1877f2;
    border-radius: 3px;
    padding: 5px;
}

aside .form h2 {
    text-align: center;
    padding-bottom: 10px;
}

aside .form input,
aside .form textarea {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
    resize: none;
}

aside .form textarea {
    height: 100px !important;
}

aside .form button {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #f21818;
    color: white;
    border-radius: 10px;
}

footer {
    padding: 60px;
    background-color: lightgray;
    clear: both;
    border-top: 2px solid black;
}

footer div {
    width: 50%;
    float: left;
}

footer .one {
    float: left
}

footer .two {
    float: right;
    text-align: right;
}

footer .two a {
    font-weight: bold;
    text-decoration: none;
    padding-right: 10px;
}